body {
  position: relative;
  width: 1440px;
  height: 400px;

  background: #fbbb5c;
}

@media only screen and (max-width: 400px) {
  body {
    position: relative;
    width: 375px;
    height: 812px;

    background: #fbbb5c;
  }
}

.box1 {
  position: absolute;
  width: 1158px;
  height: 672px;
  left: 156px;
  top: 153px;

  background: #036189;
  border-radius: 30px;
}

@media only screen and (max-width: 400px) {
  .box1 {
    position: absolute;
    width: 340px;
    height: 687px;
    left: 12px;
    top: 83px;

    background: #036189;
    border-radius: 30px;
  }
}

.image {
  position: absolute;
  /* width: 360.13px; */
  height: 545px;
  left: 120px;
  top: 63px;

  border-radius: 30px;
}
@media only screen and (max-width: 400px) {
  .image {
    position: absolute;
    width: 225px;
    height: 286px;
    left: 58px;
    top: 197px;

    border-radius: 30px;
  }
}

.box2 {
  position: absolute;
  width: 418px;
  height: 545px;
  left: 652px;
  top: 63px;

  background: #fbbb5c;
  border-radius: 30px;
}

@media only screen and (max-width: 400px) {
  .box2 {
    position: absolute;
    width: 305px;
    height: 588px;
    left: 18px;
    top: 50px;

    background: #fbbb5c;
    border-radius: 30px;
  }
}

.Intro {
  position: absolute;
  width: 312px;
  height: 57px;
  left: 50px;
  top: 3px;

  font-family: Single Day;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 60px;
  text-align: center;

  color: #036189;
}
@media only screen and (max-width: 400px) {
  .Intro {
    position: absolute;
    width: 312px;
    height: 57px;
    left: -2px;
    top: -2px;

    font-family: Single Day;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    text-align: center;

    color: #036189;
  }
}

.github {
  position: absolute;
  width: 100px;
  height: 1000px;
  left: 30px;
  top: 453px;
  font-size: 50px;
  color: #036189;
  text-decoration: none;
}
@media only screen and (max-width: 400px) {
  .github {
    position: absolute;
    width: 69px;
    height: 67px;
    left: 22px;
    top: 483px;
  }
}

.linkedin {
  position: absolute;
  width: 100px;
  height: 1000px;
  left: 138px;
  top: 453px;
  font-size: 50px;
  color: #036189;
  text-decoration: none;
}

@media only screen and (max-width: 400px) {
  .linkedin {
    position: absolute;
    width: 69px;
    height: 67px;
    left: 93px;
    top: 483px;
  }
}

.resume {
  position: absolute;
  width: 100px;
  height: 1000px;
  left: 238px;
  top: 453px;
  font-size: 50px;
  color: #036189;
  text-decoration: none;
}

@media only screen and (max-width: 400px) {
  .resume {
    position: absolute;
    width: 69px;
    height: 67px;
    left: 170px;
    top: 483px;
  }
}

.twitter {
  position: absolute;
  width: 100px;
  height: 1000px;
  left: 338px;
  top: 453px;
  font-size: 50px;
  color: #036189;
  text-decoration: none;
}

@media only screen and (max-width: 400px) {
  .twitter {
    position: absolute;
    width: 69px;
    height: 67px;
    left: 233px;
    top: 483px;
  }
}

/* .fab {
  position: absolute;
  width: 100px;
  height: 1000px;
  left: 30px;
  top: 453px;
  font-size: 50px;
  color: #036189;
  text-decoration: none;
} */

/* .fab fa-linkedin {
  position: absolute;
  width: 100px;
  height: 1000px;
  left: 50px;
  top: 453px;
  font-size: 50px;
  color: #036189;
  text-decoration: none;
} */

h1 {
  position: absolute;
  width: 312px;
  height: 57px;
  left: 547px;
  top: 36px;

  font-family: Single Day;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;
  text-align: center;

  color: #036189;
}

@media only screen and (max-width: 400px) {
  h1 {
    display: none;
  }
}
